<div  class="listContainer">
    <div class="rowBody">
        <div class="topBarDynCont">
            <ndc-dynamic
                #topBarComp
                [ndcDynamicComponent]="topBarComponent"
                [ndcDynamicInputs]="topBarInputs"
                [ndcDynamicOutputs]="topBarOutputs"
                (ndcDynamicCreated)="topBarOnInit($event)"
            >
            </ndc-dynamic>
        </div>
        <div id="mainContent" class="main-content row">
            <div class="main-layout pull-right flip">
                <div #pepperiListCont>
                    <ndc-dynamic
                        #pepperiListComp
                        [ndcDynamicComponent]="pepperiListComponent"
                        [ndcDynamicInputs]="pepperiListInputs"
                        [ndcDynamicOutputs]="pepperiListOutputs"
                        (ndcDynamicCreated)="pepperiListOnInit($event, apiEndpoint)"
                    >
                    </ndc-dynamic>
                </div>
            </div>
        </div>
    </div>
</div>