.plugin-body {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    height: inherit;
    padding-top: .5rem;

    p {
        margin:0;
    }
    .required {
        display: none;
    }

    .section-title {
        margin-top: 1.75rem;
        margin-bottom: 1.5rem;
        h4 {
            margin-bottom:.75rem;
            margin-top: 0;
        }
    }

    .narrow {
        max-width:34rem;
    }
    
    .wide {
        max-width: 52rem;
    }

    .pep-row{
        margin-top:1.5rem;
        display: inline-block;
        min-width: 16rem;
    }

    #retentionPreview {
        height: 100%;
        .list-container {
            overflow: auto;
            height: 100%;  
        }
    }
    
}
