<pep-page-layout [addPadding]="true">
    <ng-container pep-top-area>
        <pep-top-bar [title]="'SCHEDULE_TITLE' | translate">
            <div header-start-content>
            </div>
            <div header-end-content>
            </div>
        </pep-top-bar>
    </ng-container>
    <ng-container pep-main-area>
        <div class="plugin-body limit-max-width">
            <div id="schedule-container" class="narrow">
                <p class="body-sm">{{ "Archive_Schedule_Paragraph" | translate }}</p>
                <div class="pep-row first">
                    <pep-select
                        [value]="selectedDay"
                        [label]="'Archive_SelectDaysTitle' | translate"
                        type="select"
                        [mandatory]="false"
                        [disabled]="false"
                        [readonly]="false"
                        xAlignment="left"
                        [options]="dayOptions"
                        [showTitle]="true"
                        (valueChange)="onValueChange('Days', $event)"
                    ></pep-select>
                </div>
                <div class="pep-row">
                    <pep-select
                        [value]="selectedHour"
                        [label]="'Archive_SelectTimeTitle' | translate"
                        type="select"
                        [mandatory]="false"
                        [disabled]="false"
                        [readonly]="false"
                        xAlignment="left"
                        [options]="timeOptions"
                        [showTitle]="true"
                        (valueChange)="onValueChange('Hour', $event)"
                    ></pep-select>
                </div>
            </div>
        </div>        
    </ng-container>

</pep-page-layout>

<pep-size-detector></pep-size-detector>
