.mat-dialog-title{
    padding-bottom: .5rem;
    height: 2.5rem;
}

.mat-dialog-content {
    margin: 0;
    padding: 0;
    &.reportContent {
        width: 50vw;
        height: 70vh;
    }

    table {

        width: 98%;
        width: -moz-calc(100% - 2rem);
        width: -webkit-calc(100% - 2rem);
        width: -o-calc(100% - 2rem);
        width: calc(100% - 2rem);
        text-align: left;


        th {

            position: sticky;
            top: 0px;
                background: white;

            &.mat-header-cell {
                text-align: left;
                font-size: 14px;
                font-weight: 700;
                color: black;
                padding: 0 1%;
            }
        }


        td {
            ul {
                list-style: none;
                text-align: left;
                padding-left: 0px;
            }

        }


        td.mat-cell,
        tr.mat-header-row {
            border-bottom-width: 2.5px;
            border-bottom-style: solid;
            border-bottom-color: #bababa8c;
            font-family: segoeuib, sans-serif;
            padding: 0 1%;

        }

        td.mat-column-ActivityType {
            max-width:300px;
        }
    }

}

.no-data {
    font: normal 27px "Segoe UI",arial,serif;
    text-align: center;
    padding-top: 150px;
}

* /deep/ .mat-sort-header-container {
    display: inline-flex;
    cursor: pointer;
    align-items: left;
}



td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding-left: 0px;
}

.btnClose {
    transition: 0.3ms;
    padding: 8px;
    &:hover {
    background: rgba(172, 172, 172, 0.466);
    border-radius: 15px;
    }
}

.xbtn{
    padding: 0 .5rem;
    line-height: 3.4rem;
}

@media (max-width:460px) {
    .mat-dialog-content {
        &.reportContent {
            width:90vw;
        }
        .mat-table {
            width: 40rem;
        }
    }

    .pepperi-standalone {
        max-width:90vw !important;
    }
    
}