<!-- <div *ngIf="!installing" id="archive-main-container"> -->
    <div id="archive-main-container" class="plugin-container">



        <div id="archiveHeader" class="header-content">
        <div class="content pepperi-border-bottom body-lg ellipsis">
            {{ 'Data Retention' | translate }}
            <button *ngIf="showReset" mat-button class="topButtons pepperi-button weak main caution md"  (click)="resetPlugin()">Reset</button>
        </div>
        </div>
    
        <div id="archiveBody">
    
        <p class="p3">{{ 'Archive_Addon_Paragraph' | translate }}</p><br><br>
    
        <div id="main-container">
    
            <div id="schedule-container">
                <div>
              <h4>
                {{ 'Archive_Addon_Header1' | translate }}
                <hr>
              </h4>
                </div>
                <br>
                <p class="p3">{{ 'Archive_Addon_Schedule_Paragraph' | translate }}</p>
                <br>
                <div class="pep-row field1">
              <ndc-dynamic class="pepperi" #pepperiSelectDayComp
                [ndcDynamicComponent]="pepperiSelect"
                [ndcDynamicInputs]="pepperiSelectDayInputs"
                [ndcDynamicOutputs]="pepperiSelectDayOutputs"
                (ndcDynamicCreated)="pepperiSelectOnInit($event, 'pepperiSelectDayInputs', 'pepperiSelectDayOutputs',
                                     'DaySelect', 'Select a day of the week', dayOptions);">
              </ndc-dynamic>
                </div>
                <div class="pep-row field2">
              <ndc-dynamic class="pepperi" #pepperiSelectTimeComp
                [ndcDynamicComponent]="pepperiSelect"  [ndcDynamicInputs]="pepperiSelectTimeInputs"
                [ndcDynamicOutputs]="pepperiSelectTimeOutputs"
                (ndcDynamicCreated)="pepperiSelectOnInit($event, 'pepperiSelectTimeInputs', 'pepperiSelectTimeOutputs',
                                     'TimeSelect', 'Time (UTC)', timeOptions);">
              </ndc-dynamic>
                </div>
            </div>
    
            <div id="data-retention-policy">
    
                <div><h4>{{ 'Archive_Addon_Header2' | translate }}<hr></h4></div>
                <br>
    
                <p class="p3">{{ 'Archive_Addon_Policy_Paragraph' | translate }}</p>
                <br>
    
                <div class="pep-row">
                    <ndc-dynamic class="pepperi" #pepperiInputComp
                        [ndcDynamicComponent]="pepperiInput"
                        [ndcDynamicInputs]="pepperiInputInputs"
                        [ndcDynamicOutputs]="pepperiInputOutputs"
                        (ndcDynamicCreated)="pepperiFieldOnInit($event, 'pepperiInputInputs', 'pepperiInputOutputs',
                                         'MonthsInput', 'Months of data retention', '');">
                    </ndc-dynamic>
                </div>
                <br>
    
                <div id="retentionPreview">
                    <!-- <h4 id="retentionPreviewHeader">
                        <span>{{ 'Archive_Addon_Header3' | translate }}</span>
                        <div class="pull-right flip">
                        <button matButton class="pepperi-button md strong" (click)="openTypeDialog('add');" >
                            <span>Add Type</span>
                            <mat-icon>
                                <svg class="svgIcon"><use attr.xlink:href="{{ pluginService.userService.svgIcons }}number-plus"></use></svg>
                            </mat-icon>
                        </button>
                        <button matButton class="pepperi-button md " (click)="openTypeDialog('edit');" >
                            <span>Edit Type</span>
                            <mat-icon>
                                <svg class="svgIcon"><use attr.xlink:href="{{ pluginService.userService.svgIcons }}system-edit"></use></svg>
                            </mat-icon>
                        </button>
                        <button matButton class="pepperi-button md strong caution" (click)="deleteType();" >
                            <span>Add Type</span>
                            <mat-icon>
                                <svg class="svgIcon"><use attr.xlink:href="{{ pluginService.userService.svgIcons }}number-minus"></use></svg>
                            </mat-icon>
                        </button>
                        </div>
                    </h4> -->
    
                    <div #genericCont id="genericCont">
    
                        <ndc-dynamic #topBarComp
                            [ndcDynamicComponent]="topBar"
                            [ndcDynamicInputs]="topBarInputs"
                            [ndcDynamicOutputs]="topBarOutputs"
                            (ndcDynamicCreated)="topBarOnInit($event)">
                        </ndc-dynamic>
    
                        <ndc-dynamic  #pepperiListComp
                            [ndcDynamicComponent]="pepperiList"
                            [ndcDynamicInputs]="pepperiListInputs"
                            [ndcDynamicOutputs]="pepperiListOutputs"
                            (ndcDynamicCreated)="pepperiListOnInit($event)">
                        </ndc-dynamic>
    
                    </div>
    
    
    
    
                    <ng-template #addType>
                        <p class="p3">{{ 'Archive_Addon_Policy_Paragraph' | translate }}</p>
                    </ng-template>
                </div>
    
            </div>
    
    
    
    
        </div>
    
        </div>
    
    </div>
    
    
    
    
    <!-- <table *ngIf="scheduledList?.length > 0; else addType;" mat-table [dataSource]="dataSource">
    
                    <ng-container *ngIf="true" matColumnDef="Selection">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="Value">
                      <th mat-header-cell *matHeaderCellDef> Activity Type </th>
                      <td mat-cell *matCellDef="let element"> {{element?.ActivityType.Value}} </td>
                    </ng-container>
                    <ng-container matColumnDef="NumOfMonths">
                      <th mat-header-cell *matHeaderCellDef> Num of months </th>
                      <td mat-cell *matCellDef="let element"> {{element?.NumOfMonths}} </td>
                    </ng-container>
                    <ng-container matColumnDef="MinItems">
                      <th mat-header-cell *matHeaderCellDef> Min items </th>
                      <td mat-cell *matCellDef="let element"> {{element?.MinItems}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="scheduledListColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: scheduledListColumns;"></tr>
                    </table> -->
    
    
    
    
    
    
    
    
    
    