#pluginBody {
    p {
        margin:0;
    }
        
    .required {
        display: none;
    }

    .section-title {
        margin-top: 1.75rem;
        margin-bottom: 1.5rem;
        h4 {
            margin-bottom:.75rem;
            margin-top: 0;
        }
    }

    .narrow {
        max-width:34rem;
    }
    
    .wide {
        max-width: 52rem;
    }

    #schedule-container {
        .pep-row { 
            &.first {
                margin-right:2rem;
            }
        }
    }
    .pep-row{
        margin-top:1.5rem;
        display: inline-block;
        min-width: 16rem;
    }

    #retentionPreview {
        margin-top: .5rem;
    }
}